@font-face {
    font-family: 'icomoon';
    src:url('http://static.gamedex.net/fonts/icomoon.eot');
    src:url('http://static.gamedex.net/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('http://static.gamedex.net/fonts/icomoon.svg#icomoon') format('svg'),
        url('http://static.gamedex.net/fonts/icomoon.woff') format('woff'),
        url('http://static.gamedex.net/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-gamepad:before {
    content: "\e001";
}
.icon-tv:before {
    content: "\e002";
}
.icon-refresh:before {
    content: "\e003";
}
.icon-cog:before {
    content: "\e006";
}
.icon-lightning:before {
    content: "\e007";
}
.icon-board:before {
    content: "\e008";
}
.icon-checkmark:before {
    content: "\e009";
}
.icon-close:before {
    content: "\e00a";
}
.icon-arrow-left:before {
    content: "\e00c";
}
.icon-arrow-right:before {
    content: "\e00d";
}
.icon-arrow-down:before {
    content: "\e00e";
}
.icon-arrow-up:before {
    content: "\e00f";
}
.icon-eye:before {
    content: "\e011";
}
.icon-warning:before {
    content: "\e013";
}
.icon-arrow:before {
    content: "\e014";
}
.icon-history:before {
    content: "\e015";
}
.icon-vcard:before {
    content: "\e016";
}
.icon-trashcan:before {
    content: "\e017";
}
.icon-cart:before {
    content: "\e018";
}
.icon-list:before {
    content: "\e019";
}
.icon-list-2:before {
    content: "\e01b";
}
.icon-flow-cascade:before {
    content: "\e010";
}
.icon-untitled:before {
    content: "\e01a";
}
.icon-keyboard:before {
    content: "\e01c";
}
.icon-cog-2:before {
    content: "\e01f";
}
.icon-grid:before {
    content: "\e000";
}
.icon-list-3:before {
    content: "\e004";
}
.icon-th:before {
    content: "\f00a";
}
.icon-th-list:before {
    content: "\f00b";
}
.icon-th-large:before {
    content: "\f009";
}
.icon-tag:before {
    content: "\f02b";
}
.icon-book:before {
    content: "\f02d";
}
.icon-list-alt:before {
    content: "\f022";
}
.icon-off:before {
    content: "\f011";
}
.icon-shopping-cart:before {
    content: "\f07a";
}
.icon-leaf:before {
    content: "\f06c";
}
.icon-filter:before {
    content: "\e005";
}
.icon-credit-cart:before {
    content: "\f09d";
}
.icon-caret-down:before {
    content: "\f0d7";
}
.icon-caret-right:before {
    content: "\f0da";
}
.icon-mouse:before {
    content: "\e01d";
}
.icon-lab:before {
    content: "\e01e";
}
.icon-earth:before {
    content: "\e020";
}
.icon-house:before {
    content: "\e021";
}
.icon-layers:before {
    content: "\e00b";
}
.icon-gamepad-2:before {
    content: "\e022";
}
.icon-leaf-2:before {
    content: "\e024";
}
.icon-gauge:before {
    content: "\e025";
}
.icon-rocket:before {
    content: "\e026";
}
.icon-book-2:before {
    content: "\e027";
}
.icon-fire:before {
    content: "\e028";
}
.icon-meter-fast:before {
    content: "\e029";
}
.icon-stats-up:before {
    content: "\e02a";
}
.icon-youtube:before {
    content: "\e02b";
}
.icon-film:before {
    content: "\f008";
}
.icon-stop:before {
    content: "\f04d";
}
.icon-random:before {
    content: "\f074";
}
.icon-search:before {
    content: "\f002";
}
.icon-time:before {
    content: "\f017";
}
.icon-bar-chart:before {
    content: "\f080";
}
.icon-windows:before {
    content: "\e012";
}
.icon-amazon:before {
    content: "\e02d";
}
.icon-untitled-2:before {
    content: "\f0d8";
}
.icon-untitled-3:before {
    content: "\f0d9";
}
.icon-wikipedia:before {
    content: "\57";
}
.icon-steam:before {
    content: "\53";
}
