
/* SPRITE CONFIG
-----------------------------------------------------------*/
.display_1_button, .display_1_button_active, .display_1_button_hover, .display_2_button, .display_2_button_active, .display_2_button_hover, .display_3_button, .display_3_button_active, .display_3_button_hover, .form_bg, .grid_view_button, .grid_view_button_over, .invalid_login_tag, .login_button, .login_button_over, .login_button_small, .login_button_small_over, .metacritic_favorable, .metacritic_favorable_over, .metacritic_neutral, .metacritic_neutral_over, .metacritic_unavailable, .metacritic_unavailable_over, .metacritic_unfavorable, .metacritic_unfavorable_over, .navigate_left, .navigate_left_over, .navigate_right, .navigate_right_over, .navigate_well, .price_menu_button, .price_menu_button_over, .price_menu_toggle, .price_menu_toggle_over, .quick_finished_button, .quick_finished_button_active, .quick_heart_button, .quick_heart_button_active, .quick_owned_button, .quick_owned_button_active, .quick_played_button, .quick_played_button_active, .quick_playing_button, .quick_playing_button_active, .remember_checkbox_off, .remember_checkbox_on, .reset_password, .save_button, .save_button_over, .search_button, .search_button_over, .signup_button, .signup_button_over, .signup_button_small, .signup_button_small_over, .videos_button, .videos_button_over, .account_exists_tag, .add_button, .add_button_over, .back_button, .back_button_over, .delete_button, .delete_button_over, .edit_button, .edit_button_active, .edit_button_over, .no_videos_button, .back_button_alt, .back_button_alt_over, .discussion_button, .discussion_button_over, .grid_view_button_active, .grid_view_button_active, .videos_button_active, .back_button_alt_active, .discussion_button_active, .add_button_active, .save_button_active, .search_button_active, .display_2_button_active2, .display_3_button_active2, .display_1_button_active2, .quick_playing_button_over, .quick_finished_button_over, .quick_owned_button_over, .quick_heart_button_over, .quick_played_button_over, .guide_button, .signup_button_down, .login_button_down, .guide_button_over, .guide_button_down, .import_button, .import_button_over, .import_button_active {
	background: url(http://d2sifwlm28j6up.cloudfront.net/sprites.png) no-repeat;
}

.back_button() {
	background-position: -498px -483px;
}
.back_button_over() {
	background-position: -554px -482px;
}
.back_button_down() {
	background-position: -498px -483px;
}
.delete_button() {
	background-position: -481px -227px;
}
.delete_button_over() {
	background-position: -518px -225px;
}

.account_exists_tag() {
	background-position: -1px -180px;
}

.add_button() {
	background-position: 0 0;
}
.add_button_over() {
	background-position: -76px 3px;
}


.display_1_button() {
	background-position: -340px -179px;
}
.display_1_button_active() {
	background-position: -380px -179px;
}
.display_1_button_hover() {
	background-position: -417px -176px;
}

.display_2_button() {
	background-position: -223px -179px;
}
.display_2_button_active() {
	background-position: -263px -179px;
}
.display_2_button_hover() {
	background-position: -301px -176px;
}

.display_3_button() {
	background-position: -455px -179px;
}
.display_3_button_active() {
	background-position: -496px -179px;
}
.display_3_button_hover() {
	background-position: -533px -176px;
}

.grid_view_button() {
	background-position: -315px 0;
}
.grid_view_button_over {
	background-position: -431px 3px;
}

.invalid_login_tag() {
	background-position: -1px -213px;
}

.login_button_small() {
	background-position: -188px -49px;
}
.login_button_small_over() {
	background-position: -283px -49px;
}
.login_button_small_down() {
	background-position: -193px -49px;
}

.metacritic_favorable() {
	background-position: -396px -227px;
}

.metacritic_favorable_over() {
	background-position: -439px -224px;
}
.metacritic_neutral() {
	background-position: -224px -227px;
}
.metacritic_neutral_over() {
	background-position: -268px -224px;
}

.metacritic_unavailable() {
	background-position: -137px -227px;
}
.metacritic_unavailable_over() {
	background-position: -180px -222px;
}
.metacritic_unfavorable() {
	background-position: -312px -227px;
}
.metacritic_unfavorable_over() {
	background-position: -353px -222px;
}

.navigate_left() {
	background-position: -5px -322px;
	width: 38px;
	height: 36px;
}
.navigate_left_over() {
	background-position: -5px -359px;
	width: 37px;
	height: 36px;
}
.navigate_right() {
	background-position: -37px -322px;
	width: 38px;
	height: 36px;
}
.navigate_right_over() {
	background-position: -37px -359px;
	width: 38px;
	height: 36px;
}

.form_bg() {
	background-position: -78px -345px;
}

.price_menu_toggle_over() {
	background-position: -452px -309px;
}
.price_menu_toggle() {
	background-position: -452px -275px;
}
.price_menu_button() {
	background-position: -339px -275px;
}
.price_menu_button_over() {
	background-position: -338px -309px;
}


.quick_finished_button {
	background-position: -650px -261px;
}
.quick_finished_button_over() {
	background-position: -218px -275px;
}
.quick_finished_button_active() {
	background-position: -218px -308px;
}

.quick_heart_button {
	background-position: -690px -261px;
}
.quick_heart_button_over() {
	background-position: -257px -275px;
}
.quick_heart_button_active() {
	background-position: -257px -308px;
}

.quick_owned_button {
	background-position: -730px -261px;
}
.quick_owned_button_over() {
	background-position: -296px -275px;
}
.quick_owned_button_active() {
	background-position: -296px -308px;
}

.quick_played_button {
	background-position: -610px -261px;
}
.quick_played_button_over() {
	background-position: -179px -275px;
}
.quick_played_button_active() {
	background-position: -179px -308px;
}

.quick_playing_button {
	background-position: -610px -228px;
}
.quick_playing_button_over() {
	background-position: -140px -275px;
}
.quick_playing_button_active() {
	background-position: -140px -308px;
}


.remember_checkbox_off() {
	background-position: -3px -273px;
}
.remember_checkbox_on() {
	background-position: -3px -296px;
}

.reset_password() {
	background-position: -3px -248px;
}

.save_button() {
	background-position: -151px 0;
}
.save_button_over() {
	background-position: -233px 3px;
}

.search_button() {
	background-position: -1px -49px;
}
.search_button_over() {
	background-position: -95px -46px;
}

.signup_button_small() {
	background-position: -378px -49px;
}
.signup_button_small_over() {
	background-position: -486px -44px;
}
.signup_button_small_down() {
	background-position: -374px -49px;
}

.videos_button {
	background-position: -495px -274px;
}
.videos_button_over {
	background-position: -495px -312px;
}
.navigate_well() {
	background-position: -5px -397px;
}

.edit_button {
	background-position: -498px -349px ;
}
.edit_button_over {
	background-position: -495px -428px;
}
.edit_button_active {
	background-position: -498px -390px ;
}

.no_videos_button {
	background-position: -78px -425px;
}
.back_button_alt {
	background-position: -397px -345px;
}
.back_button_alt_over {
	background-position: -394px -384px;
}
.discussion_button{
	background-position: -203px -425px;
}
.discussion_button_over{
	background-position: -326px -421px;
}


.grid_view_button_active {
	background-position: -649px 0;
}
.videos_button_active {
	background-position: -668px -136px;
}
.back_button_alt_active {
	background-position: -682px -179px;
}
.discussion_button_active {
	background-position: -641px -94px;
}
.add_button_active {
	background-position: -602px -50px;
}
.save_button_active {
	background-position: -683px -50px;
}
.search_button_active {
	background-position: -552px 0;
}


.display_1_button_active2 {
	background-position: -648px -220px;
}
.display_2_button_active2 {
	background-position: -688px -220px;
}
.display_3_button_active2 {
	background-position: -727px -220px;
}


.signup_button {
	background-position: -593px -364px;
}
.signup_button_down {
	background-position: 22px -460px;
}
.signup_button_over {
	background-position: 0 -90px;
}

.login_button {
	background-position: -611px -438px;
}
.login_button_over {
	background-position: -362px -90px;
}
.login_button_down {
	background-position: -155px -459px;
}

.guide_button {
	background-position: -610px -292px;
}
.guide_button_over {
	background-position: -190px -90px;
}
.guide_button_down {
	background-position: -310px -459px;
}

.import_button {
	background-position: -540px -94px ;
}
.import_button_over {
	background-position: -537px -132px ;
}
.import_button_active {
	background-position: -585px -179px ;
}
