@import 'grid.less';
@import 'giantbomb';

/* SEMANTIC GRID CONFIG
-----------------------------------------------------------*/

// Specify the number of columns and set column and gutter widths
@panel-columns: 48;
@list-columns: 48;

@gutter-width: 40;

// Remove the definition below for a pixel-based layout
@total-width: 100%;



/* MIXINS
-----------------------------------------------------------*/
.boxShadow {
  -webkit-box-shadow:2px 2px 10px 1px rgba(57,65,70,0.2);
  -moz-box-shadow:2px 2px 10px 1px rgba(57,65,70,0.2);
  box-shadow:2px 2px 10px 1px rgba(57,65,70,0.2)
}

.borderRadius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}


.clear {
  clear: both;
}


/* SEMANTIC GRID STYLES
-----------------------------------------------------------*/

 /* PANEL STYLES
  ----------------------- */
#panel1 {
  .column(13, @panel-columns);
  max-width: 375px;
}
#panel2 {
  .column(14, @panel-columns);
  max-width: 400px;
}
#panel3 {
  .column(21, @panel-columns);
  max-width: 600px;
}

/* LAYOUT STYLES
-----------------------------------------------------------*/
html {
  overflow-y: hidden;
}

body {
  background-color: #97a1a6;
  color: #3C3C3C;
  padding-top: 60px;
}

#wrapper {
  min-width: 960px;
  text-align: center;
  margin: 0 15px;

  /* BOOTSTRAP OVERRIDES
  -----------------------------------------------------------*/
  .btn {
    font-size: 12px;
  }
}

#content {
  margin: 0 auto;
  text-align: left;
  width: 100%;
  max-width: 1375px;
}

.header {
  position: relative;
  background-color: #6c777d;
  height: 17px;
  color: #ffffff;
  z-index: 999;
}

.panel {
  position: relative;
  top: -17px;
  background-color: #ffffff;
  border: 1px solid #777e82;
  padding: 29px 10px 10px 10px;
  .boxShadow;
}

#header {
  min-width: 960px;
}

.popover {
}



/* COMPONENT STYLES
-----------------------------------------------------------*/
.metascore {
  background: no-repeat 0 0;
  display: block;
  font: bold 15px/32px arial,helvetica,sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 32px;
  width: 32px;
  color: #ffffff;
  .borderRadius(2px);

  &:link {text-decoration: none;}
  &:visited {text-decoration: none;}
  &:hover {text-decoration: none;}
  &:active {text-decoration: none;}

  &.favorable {
    background-color: #66CC33;
  }
  &.neutral {
    background-color: #FFCC33;
  }
  &.unfavorable {
    background-color: #D70000;
  }
  &.unavailable {
    background-color: #929ca1;
  }
}

.nano .content      { padding: 10px; }
.nano .pane         { background: #444; }
.nano .pane .slider { background: #111; }


/* MODALS
-----------------------------------------------------------*/
#filters-modal {

  .modal-body {
    height: 300px;
  }

}

/* SEARCH VIEW PANEL
-----------------------------------------------------------*/

#search {
  margin: 8px 0px 8px 0px;
}

#searchProviderContainer {
  margin: 0px 10px 10px 0px;
  float: left;
}

#platformContainer {
  float: left;
}

#searchResultsDisplayGroup {
  margin: 8px 0px 8px 0px;
}

#searchResultsContainer {
  height: 500px;
}

#searchResults {

  tr {
    cursor: pointer;
  }

  .display-0 {

        .smallImage, .mediumImage {
          display: none;
        }
        .title {

        }
      }

    .display-1 {

      .smallImage {
        width: 10%;
        min-width: 60px;
      }
      .mediumImage {
        display: none;
      }
      .title {

      }
    }

    .display-2 {

      .smallImage {
        display: none;
      }
      .mediumImage {
        width: 15%;
        min-width: 100px;
      }
      .title {

      }
    }

}

/* DETAIL VIEW PANEL
-----------------------------------------------------------*/

#itemDetails {


  table {
    width: 100%;

    td {
      padding: 3px;
    }
  }

  .itemDetailTitle {

    h3 {
      display: block;
      padding: 2px 10px 3px 10px;
      background-color: #929ca1;
      color: #ffffff;
      font-size: 16px;
      .borderRadius(2px);
    }
  }

  .itemDetailMetascore {
    vertical-align: top;
    text-align: right;
  }

  .itemDetailReleaseDate {
  }

  .itemDetailInfo a {
    margin: 0px 2px 5px 0px;
  }

  .itemDetailThumbnail {
    padding: 10px;

    img {
      max-width: 100%;
    }
  }
}

#addListContainer {
  margin: 0px 10px 10px 0px;
  float: left;
}
#addList {
  width: 170px;
}
#addListButtons {
  float: left;
}



#giantBombDescription-modal {
  width: 960px;
  margin: -250px 0 0 -480px;
}

#amazonDescription-modal {
  width: 960px;
  margin: -250px 0 0 -480px;
}

/* ITEM VIEW PANEL
-----------------------------------------------------------*/

#viewItemsContainer {

  .optionsGroup {
    margin: 8px 0px 8px 0px;

    .displayOptions {
      float: left;
      margin-right: 14px;
    }

    .dateFilter {
      float: left;
      margin-right: 14px;
    }
  }
}


#itemResultsContainer {
  height: 500px;
}

#itemResults {

  tr {
    cursor: pointer;
  }

  .display-0 {

    .smallImage, .mediumImage {
      display: none;
    }
    .itemName {

    }
    .calendarDate {
      display: none;
    }
    .priceDetails {
      min-width: 150px;
    }
    .options {
      text-align: right;
    }
  }

  .display-1 {

    .smallImage {
      width: 10%;
      min-width: 60px;
    }
    .mediumImage {
      display: none;
    }
    .itemName {

    }
    .calendarDate {
      font-size: 12px;
      color: #7D7D7D;
    }
    .priceDetails {
      min-width: 150px;
    }
    .options {
      text-align: right;
    }
  }

  .display-2 {

    .smallImage {
      display: none;
    }
    .mediumImage {
      width: 15%;
      min-width: 100px;
    }
    .itemName {

    }
    .calendarDate {
      font-size: 12px;
      color: #7D7D7D;
    }
    .priceDetails {
      min-width: 150px;
    }
    .options {
      text-align: right;
    }
  }
}

#viewListContainer {
  float: left;
  margin-right: 15px;
}
#viewList {
}
.sortOptions {
  float: left;
}


#deleteList_btn {
  float: right;
}
