@import 'mixins.less';
@import 'grid.less';
@import 'sprites';

/* SEMANTIC GRID CONFIG
Specify the number of columns and set column and gutter widths
-----------------------------------------------------------*/
@panel-columns: 48;
@list-columns: 48;

@gutter-width: 40;

@total-width: 100%;

/* SEMANTIC GRID CONFIG
-----------------------------------------------------------*/
@neutralDark: #666d6e;

/* MIXINS
-----------------------------------------------------------*/
.boxShadow(@opacity) {
	-webkit-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0,@opacity);
	-moz-box-shadow:    5px 5px 20px 2px rgba(0, 0, 0,@opacity);
	box-shadow:         5px 5px 20px 2px rgba(0, 0, 0,@opacity);
}
.borderRadius(@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}
.borderRadius4(@radius1, @radius2, @radius3, @radius4) {
	-moz-border-radius: @radius1 @radius2 @radius3 @radius4;
	-webkit-border-radius: @radius1 @radius2 @radius3 @radius4;
	border-radius: @radius1 @radius2 @radius3 @radius4;
}
.transition(@duration, @step1: 0.250, @step2: 0.460, @step3: 0.450, @step4: 0.940) {
	-webkit-transition: @duration all cubic-bezier(@step1, @step2, @step3, @step4);
	-moz-transition: @duration all cubic-bezier(@step1, @step2, @step3, @step4);
	-ms-transition: @duration all cubic-bezier(@step1, @step2, @step3, @step4);
	-o-transition: @duration all cubic-bezier(@step1, @step2, @step3, @step4);
	transition: @duration all cubic-bezier(@step1, @step2, @step3, @step4);

	/* enable 3d render composition */
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}
.opacity(@opacity) {
	@opacityPercentage: @opacity * 100;
	zoom: 1;
	filter: alpha(opacity=@opacityPercentage);
	opacity: @opacity;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.clear {
	clear: both;
}

.btn-template(@topGradient, @bottomGradient, @color, @alpha) {
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 2px hsla(hue(@color), saturation(@color), lightness(@color), @alpha);

	background-color: @topGradient;
	background-image: -ms-linear-gradient(top, @topGradient, @bottomGradient);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@topGradient), to(@bottomGradient));
	background-image: -webkit-linear-gradient(top, @topGradient, @bottomGradient);
	background-image: -o-linear-gradient(top, @topGradient, @bottomGradient);
	background-image: -moz-linear-gradient(top, @topGradient, @bottomGradient);
	background-image: linear-gradient(top, @topGradient, @bottomGradient);
}
.btn-template-hover(@color) {
	background-color: @color;
	background-position: 0 0px;
	background-image: none;
}
.btn-template-active(@topGradient, @bottomGradient) {
	background-color: none;
	background-image: -ms-linear-gradient(top, @topGradient, @bottomGradient);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@topGradient), to(@bottomGradient));
	background-image: -webkit-linear-gradient(top, @topGradient, @bottomGradient);
	background-image: -o-linear-gradient(top, @topGradient, @bottomGradient);
	background-image: -moz-linear-gradient(top, @topGradient, @bottomGradient);
	background-image: linear-gradient(top, @topGradient, @bottomGradient);
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* ANIMATIONS
-----------------------------------------------------------*/
@-moz-keyframes bounceOut {
	0%{ box-shadow: 0 0 0 2px #fff;}
	25%{ box-shadow: 0 0 0 0px #fff;}
	50%{ box-shadow: 0 0 0 4px #fff;}
	75%{ box-shadow: 0 0 0 2px #fff;}
	100%{ box-shadow: 0 0 0 2px #fff;}
}

@-webkit-keyframes bounceOut {
	0%{ box-shadow: 0 0 0 2px #fff;}
	25%{ box-shadow: 0 0 0 0px #fff;}
	50%{ box-shadow: 0 0 0 4px #fff;}
	75%{ box-shadow: 0 0 0 2px #fff;}
	100%{ box-shadow: 0 0 0 2px #fff;}
}

/* LAYOUT
-----------------------------------------------------------*/
html {

	/* ICON FONT OVERRIDES
	----------------------------------------------------------*/
	[class^="icon-"]:before, [class*=" icon-"]:before {
	    font-weight: normal;
	    font-size: 16px;
	}

	.icon-filter {
		font-size: 0.85em;
	}

	.icon-caret-right {
		line-height: 27px;
	}

	/* ALERTIFY OVERRIDES
	----------------------------------------------------------*/


	/* SELECT2 OVERRIDES
	----------------------------------------------------------*/
	.select2-container {
		width: 190px;
	}
	.select2-results .select2-highlighted {
		background: #667677;
		color: #fff;
	}

	.select2-container-multi .select2-choices {
		.borderRadius(3px);
	}

	.select2-container-multi.select2-container-active .select2-choices {
		.borderRadius(3px);
		border: 1px solid #999;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
	}

	.select2-container .select2-drop {
		background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #EEE));
		.borderRadius4(0px, 0px, 3px, 3px);
	}

	#platform_filter .select2-container .select2-results {
		max-height: 200px;
	}

	.select2-container .select2-results {
		max-height: 300px;
	}
	.select2-container-multi .select2-results {
		margin: 0px;
	}
	.select2-drop {
		margin-top: -2px;
	}

	.select2-container-multi .select2-choices .select2-search-field input {
		font-family: 'Open Sans', sans-serif;
	}


	/* THIRD PARTY OVERRIDES
	-----------------------------------------------------------*/
	#uvTab {
		z-index: 1030 !important;
	}

	/* BOOTSTRAP OVERRIDES
	-----------------------------------------------------------*/

	/* GLOBAL
	-----------------------------------------------------------*/
	a {
		color: #3B5C6D;
		text-decoration: none;
	}

	textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
		border-color: rgba(141, 161, 177, 0.8);
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(141, 161, 177, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(141, 161, 177, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(141, 161, 177, 0.6);
	}

	button {
		background-position: 0px 0px;
		background-repeat: no-repeat;
		cursor: pointer;
		display: inline-block;
		position: relative;
		border: none;
		top: -2px;
	}

	table, tbody, tr, div, button {
		&:focus {
			outline:none;
		}
	}

	/* FORMS
	-----------------------------------------------------------*/
	.form-horizontal {

		.control-group {

			&.well {
				margin-bottom: 10px;
			}
		}
	}

	.well {
		padding: 11px 15px 11px 0px;
		background-color: #CFD7DB;
		border: 1px solid #B8B8B8;

		label {
			color: #677279;
			font-weight: 600;
		}
	}


	/* BUTTON SUCCESS
	-----------------------------------------------------------*/
	@btnSuccessTop: #43a64a;
	@btnSuccessBottom: #1D9400;
	@btnSuccessTop_active: darken(@btnSuccessBottom, 5%);
	@btnSuccessBottom_active: @btnSuccessBottom;
	@btnSuccess_hover: darken(@btnSuccessTop, 10%);
	@btnSuccess_shadowColor: #289c00;
	.btn-success {
		.btn-template(@btnSuccessTop, @btnSuccessBottom, @btnSuccess_shadowColor, .8);
	}
	.btn-success:hover {
		.btn-template-hover(@btnSuccess_hover);
	}
	.btn-success:active {
		.btn-template-active(@btnSuccessTop_active, @btnSuccessBottom_active);
	}

	/* BUTTON PRIMARY
	-----------------------------------------------------------*/
	@btnPrimaryTop: #7F939E;
	@btnPrimaryBottom: #556C79;
	@btnPrimaryTop_active: darken(@btnPrimaryBottom, 5%);
	@btnPrimaryBottom_active: @btnPrimaryBottom;
	@btnPrimary_hover: darken(@btnPrimaryTop, 10%);
	@btnPrimary_shadowColor: #7F939E;
	.btn-primary {
		.btn-template(@btnPrimaryTop, @btnPrimaryBottom, @btnPrimary_shadowColor, .6);
	}
	.btn-primary:hover {
		.btn-template-hover(@btnPrimary_hover);
	}
	.btn-primary:active {
		.btn-template-active(@btnPrimaryTop_active, @btnPrimaryBottom_active);
		background-color: @btnPrimaryTop;
	}

	.btn.active {
		color: #fff;
		text-shadow: none;
		.btn-template-hover(@btnPrimary_hover);
	}

	/* BTN DANGER
	-----------------------------------------------------------*/
	@btnDangerTop: #BF2C00;
	@btnDangerBottom: #952200;
	@btnDangerTop_active: darken(@btnDangerBottom, 5%);
	@btnDangerBottom_active: @btnDangerBottom;
	@btnDanger_hover: darken(@btnDangerTop, 10%);
	@btnDanger_shadowColor: #912F00;
	.btn-danger {
		.btn-template(@btnDangerTop, @btnDangerBottom, @btnDanger_shadowColor, .6);
	}
	.btn-danger:hover {
		.btn-template-hover(@btnDanger_hover);
	}
	.btn-danger:active {
		.btn-template-active(@btnDangerTop_active, @btnDangerBottom_active);
	}


	/* BTN GROUP
	-----------------------------------------------------------*/
	.btn-group {
		.btn.active {
			background-color: #788E99;

			-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
			-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
			box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
		}
	}
	.btn-group.open .btn-primary.dropdown-toggle {
		background-color: #4A5F6A;
	}

	/* TOOLTIP
	-----------------------------------------------------------*/
	.tooltip {

		.tooltip-inner {
			.opacity(.8);
			background-color: #061113;
		}
	}
	.tooltip-arrow {
		.opacity(.8);
	}
	.tooltip.bottom .tooltip-arrow {
		border-bottom-color: #061113;
	}
	.tooltip.top .tooltip-arrow {
		border-top-color: #061113;
	}
	.tooltip.left .tooltip-arrow {
		border-left-color: #061113;
	}
	.tooltip.right .tooltip-arrow {
		border-right-color: #061113;
	}

	/* PROGRESS
	-----------------------------------------------------------*/
	.progress {

		border: 1px solid #5F747E;

		.bar {
			background-color: @btnPrimaryTop;
			background-image: -moz-linear-gradient(top,@btnPrimaryTop,@btnPrimaryBottom);
			background-image: -webkit-gradient(linear,0 0,0 100%,from(@btnPrimaryTop),to(@btnPrimaryBottom));
			background-image: -webkit-linear-gradient(top,@btnPrimaryTop,@btnPrimaryBottom);
			background-image: -o-linear-gradient(top,@btnPrimaryTop,@btnPrimaryBottom);
			background-image: linear-gradient(top,@btnPrimaryTop,@btnPrimaryBottom);
			background-image: -ms-linear-gradient(top,@btnPrimaryTop,@btnPrimaryBottom);
		}
	}


	/* TABLE
	-----------------------------------------------------------*/
	.table-striped tbody tr:nth-child(odd) td {
		background-color: #f3f3f3;
	}
	.table tbody tr:hover td {
		background-color: #ffffff;
	}
	.table th, .table td {
		border-top: 1px dotted #DDD;
	}

	/* TAB
	-----------------------------------------------------------*/
	.tab-content {
		overflow: inherit;
		display: block;
	}
	.nav-tabs a {
		color: #3C3C3C;
	}
	.nav-tabs a:hover {
		color: #313131;
	}

	/* TITLE BAR NAV
	-----------------------------------------------------------*/
	.nav {
		i {
			color: #798386;
			margin-top: 2px;
			margin-right: 2px;
		}
	}
	.navbar .nav > li > a {
		.transition(.4s);
		color: #C4C4C4;
		padding: 6px 10px 7px;
		font-weight: 600;

		i {
			-webkit-font-smoothing: none;
			.transition(.4s);
		}
		.caret {
			.transition(.4s);
		}

		&:hover {
			background-color: transparent;
			color: #fbc704;
			text-decoration: none;
			i {
				color: #fff;
			}
		}
		&:focus {
			background-color: transparent;
			color: #fbc704;
			text-decoration: none;
			i {
				color: #fbc704;
			}
		}
	}

	.navbar-inner {
		background-color: #212E2F;
		filter: none;
		background-image: -ms-linear-gradient(top, #2E3D3E, #212E2F);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#2E3D3E),to(#212E2F));
		background-image: -webkit-linear-gradient(top, #2E3D3E, #212E2F);
		background-image: -o-linear-gradient(top, #2E3D3E, #212E2F);
		background-image: -moz-linear-gradient(top, #2E3D3E, #212E2F);
		background-image: linear-gradient(top, #2E3D3E, #212E2F);
		min-height: 0px;
		height: 35px;
		padding-left: 4px;
		padding-right: 4px;
		border: none;
	}

	/* NAVBAR
	-----------------------------------------------------------*/
	.navbar-static {
		margin-bottom: 4px;

		.leftCap {
			float: left;
			position: relative;
			background-image: url('http://d2sifwlm28j6up.cloudfront.net/title_bar_dark_left.png');
			top: -3px;
			width: 11px;
			height: 40px;
		}
		.navigationBar {
			background-image: url('http://d2sifwlm28j6up.cloudfront.net/title_bar_dark_center.png');
			background-repeat: repeat-x;
			position: relative;
			float: left;
			padding-top: 3px;
			top: -3px;
			height: 36px;
		}
		.rightCap {
			float: left;
			position: relative;
			background-image: url('http://d2sifwlm28j6up.cloudfront.net/title_bar_dark_right.png');
			top: -3px;
			width: 12px;
			height: 40px;
		}
	}


	/* LIST NAV
	------------------------------------------------------------*/
	.nav-list [class^="icon-"] {
		margin-right: 6px;
	}
	.nav-list {
		i {
			color: #606060;
		}

		a {
			color: #3C3C3C;
			&:hover {
				color: #313131;
			}
		}
	}

	/* DROPDOWNS
	-----------------------------------------------------------*/
	.btn-group .dropdown-menu, .nav .dropdown-menu {
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;

		-moz-box-shadow: 4px 4px 7px rgba(9, 9, 9, 0.3);
		-webkit-box-shadow: 4px 4px 7px rgba(9, 9, 9, 0.3);
		box-shadow: 4px 4px 7px rgba(9, 9, 9, 0.3);

		background-color: #1e2828;
		background-color: rgba(30, 40, 40, 0.95);
		border: 1px solid #1e2828;
		border: 1px solid rgba(30, 40, 40, 0.95);
		list-style: none;
		margin: 1px 0 0;
		padding: 4px 0;

		.transition(0.3s);
		.opacity(0);
		display: block;
		min-width: 120px;
		visibility: hidden;
		z-index: 0;

		.divider {
			background-color: #222;
			border-bottom: 1px solid #334444;
		}
		a {
			color: #BDBDBD;
			font-size: 13px;

		}
		li {
			> a {
				.transition(.6s);
				background-image: none;
				height: 14px;
				background-color: rgba(255, 255, 255, 0.0);

				span {
					color: #797979;
				}
			}

			> a:hover, .active > a, .active > a:hover {
				background-color: #fbc704;
				height: 25px;
				color: #000000;
				background-image: none;
				overflow: hidden;

				i {
					color: #1e2828;
				}

				span {
					color: #1e2828;
				}
			}

			i {
				margin-right: 6px;
				color: #BDBDBD;
			}
		}
	}

	.open > .dropdown-menu {
		z-index: 10;
		.transition(.3s);
		.opacity(1);
		min-width: 160px;
		visibility: visible;

		li > a {
			height: 20px;
		}
	}

	// navbar dropdowns
	.navbar .nav {
		.dropdown-menu {

		}
		.dropdown-toggle, li > a {
			text-shadow: none;
			position: relative;
			top: -1px;
		}
		li.dropdown.open > .dropdown-toggle, li.dropdown.active > .dropdown-toggle, li.dropdown.open.active > .dropdown-toggle {
			background-color: transparent;
			color: #fff;

			.caret {
				border-top-color: white;
				border-bottom-color: white;
			}
			i {

			}
		}
	}

	// platform menu
	.platformDropdown {

		.nav {
			margin-bottom: 0px;
		}
		.dropdown-menu {
		}

		.dropdown.open .dropdown-menu {
			position: relative;
		}
		.dropdown-toggle {
			border-radius: 4px;
			padding: 4px 12px 4px 12px;
		}
	}

	/* DROPDOWN ARROW
	-----------------------------------------------------------*/
	.navbar {
		.nav .active > a, .nav .active > a:hover {
			background-color: #8B9B9C;
			color: #000000;
			i {
				color: #4B5758;
			}
		}
		.nav > li > .dropdown-menu::before {
			display: none;
		}
		.nav > li > .dropdown-menu::after {
			display: none;
		}
	}

	/* SUB DROPDOWN
	-----------------------------------------------------------*/
	.nav li.dropdown ul.dropdown-menu {

		ul {
			// display: none;
			width: 0px;
			float: right;
			position: absolute;
			top: auto;
			left:100%;
			margin-top: -30px;
			margin-left: 3px;
			min-width: 0px;
			.opacity(0);
		}

		li.active ul {
			display:block;
			position:absolute;
			left:100%;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			min-width: 160px;

			.opacity(1);
			visibility: visible;
		}
	}

	/* ALERT
	-----------------------------------------------------------*/
	.alert {
		display: none;
		margin-bottom: 0;
	}
	.alert-info {
		background-color: #DFE7EB;
		border-color: #D8DFE0;
		color: #587685;

		strong {
			margin-right: 10px;
		}
	}

	/* POPOVER
	-----------------------------------------------------------*/
	.popover {
		z-index: 2000;
		background-color: rgba(255, 255, 255, .80);

		.popover-title {
			background-color: rgba(247, 247, 247, .4);
		}
	}

	/* MODAL
	-----------------------------------------------------------*/
	.modal  {
		background-color: rgba(136, 160, 172, 0.75);
		width: 620px;
		margin: -270px 0 0 -310px;

		&.fade {
			-webkit-transform-origin: 50% 50%;
			-moz-transform-origin: 50% 50%;
			-ms-transform-origin: 50% 50%;
			-o-transform-origin: 50% 50%;
			transform-origin: 50% 50%;

			.transition(0.3s);
			-webkit-transform: scale(.8);
			-moz-transform: scale(.8);
			-ms-transform: scale(.8);
			-o-transform: scale(.8);
			transform: scale(.8);

			top: 50%;
		}

		&.in {
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
		}

		.modal-header {
			padding: 6px 15px;

			h3 {
				font-weight: 600;
				font-size: 18px;
				color: #fff;
				line-height: 25px;
			}
		}
		.modal-body {
			background-color: whiteSmoke;
		}
	}

	.modal-backdrop {
		z-index: 1049;
		background-color: #061113;
	}
}

/* GAMEDEX
-----------------------------------------------------------*/
body {
	background-image:  url('http://d2sifwlm28j6up.cloudfront.net/bg_tile.png');
	background-repeat: repeat;
	color: #3C3C3C;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	font-weight: 400;
	min-width: 1000px;

	&.infoHeader {
		#infoHeader {
			display: block;
		}
		#wrapper {
			margin: 0 auto;
		}
		#header {
			display: none;
		}
	}

	&.useHeader {
		.header {
			border-top: 1px solid #575757;
		}

		#infoHeader {
			display: none;
		}
		#header {
			display: block;
		}
	}
}


/* ELEMENT GLOBALS
-----------------------------------------------------------*/
input, select, textarea {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

img {
	border-radius: 6px;
}


/* COMPONENTS
-----------------------------------------------------------*/

/* SITE GUIDE
-----------------------------------------------------------*/
#siteGuide {
	padding-left: 9px;
	margin: 0 auto;
	display: none;
}

#siteGuideContainer {
	min-width: 974px;
	max-width: 1518px;
	margin: 0 .4166666666666667%;
	position: absolute;
	width: 96%;
	height: 500px;

	.step {
		color: #fff;
		position: absolute;
		display: none;
		z-index: 1050;
	}

	#siteGuideNavigation {
		position: absolute;
		width: 200px;
		z-index: 1050;

		a {
			.opacity(.3);
			.borderRadius(3px);
			position: absolute;
			background-color: white;
			color: rgb(70, 70, 70);
			font-size: 16px;
			font-weight: bold;
			padding: 0px 4px 2px 4px;
			text-decoration: none;
			float: left;

			&:hover {
				.opacity(1);
				color: rgb(70, 70, 70);
			}

			i {
				position: relative;
				top: 4px;
				color: rgb(70, 70, 70);
			}
		}

		.siteGuideExit_btn {
			left: 10px;
			i {
				font-size: .7em;
			}
		}
		.siteGuidePrevious_btn {
			left: 100px;
			i {
				font-size: .9em;
				line-height: 0px;
				text-align: center;
			}
		}
		.siteGuideNext_btn {
			left: 127px;
			i {
				font-size: .9em;
				line-height: 0px;
				text-align: center;
			}
		}
	}

	#step1 {
		background-image:  url('http://static.gamedex.net/images/step1.png');
		width: 611px;
		height: 156px;
		top: -97px;
		left: 17%;
	}
	#step2 {
		background-image:  url('http://static.gamedex.net/images/step2.png');
		width: 623px;
		height: 61px;
		top: 151px;
		left: 31%;
	}
	#step3 {
		background-image:  url('http://static.gamedex.net/images/step3.png');
		width: 431px;
		height: 71px;
		top: 201px;
		left: 51%;
	}

	#step4 {
		background-image:  url('http://static.gamedex.net/images/step4.png');
		width: 458px;
		height: 91px;
		top: -76px;
		left: 34%;
	}

	#step5 {
		background-image:  url('http://static.gamedex.net/images/step5.png');
		width: 665px;
		height: 98px;
		top: -118px;
		left: 8%;
	}

}
#siteGuideBackdrop {
	.opacity(.95);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1039;
	background-color: #061113;
}


@media screen and (max-width: 1500px) {

	#siteGuideContainer {

		#step1 {
		}
		#step2 {

		}
		#step3 {
			left: 53%;
		}
		#step5 {
		}
	}
	body #content.step3 {

		#siteGuideNavigation {
			left: 53%;
		}
	}
}

#content {

	&.step1 {
		#step1 {
			display: block;
		}
		#siteGuideNavigation {
			top: -33px;
			left: 17%;
			margin-left: 421px;

			.siteGuidePrevious_btn {
				display: none;
			}
			.siteGuideExit_btn {
				left: 64px;
			}
		}
		#panel1 {
			position: relative;
			z-index: 1045;
		}
	}
	&.step2 {
		#step2 {
			display: block;
		}
		#siteGuideNavigation {
			top: 222px;
			left: 31%;
			margin-left: 432px;
		}
		#panel1 {
			position: relative;
			z-index: 1045;
		}
	}
	&.step3 {
		#step3 {
			display: block;
		}
		#siteGuideNavigation {
			top: 260px;
			left: 51%;
			margin-left: 239px;
		}
		#panel2  {
			position: relative;
			z-index: 1045;
			border: none;
		}
	}
	&.step4 {
		#step4 {
			display: block;
		}
		#siteGuideNavigation {
			top: -9px;
			left: 34%;
			margin-left: 268px;
		}
		#panel2  {
			position: relative;
			z-index: 1045;
			border: none;
		}
	}
	&.step5 {
		#step5 {
			display: block;
		}
		#siteGuideNavigation {
			top: -57px;
			left: 8%;
			margin-left: 344px;

			.siteGuideNext_btn {
				display: none;
			}
			.siteGuideExit_btn {
				left: 66px;
			}
			.siteGuidePrevious_btn {
				left: 36px;
			}
		}
		#panel3 {
			position: relative;
			z-index: 1045;
		}
	}
}

/* INFO HEADER
-----------------------------------------------------------*/
#infoHeader {
	background-image:  url('http://d2sifwlm28j6up.cloudfront.net/header_tile.png');
	background-repeat: repeat-x;
	background-position: 0px -21px;
	height: 277px;
	width: 100%;
	margin-bottom: 8px;
	position: relative;
	z-index: 1039;

	.infoHeaderContent {
		margin: 0 auto;
		max-width: 1647px;
		height: 100%;
	}
}

#logo {
	background-image: url('http://d2sifwlm28j6up.cloudfront.net/logo.png');
	position: relative;
	width: 310px;
	height: 64px;
	left: 29px;
	top: 16px;
}

#siteDescription {
	background-image: url('http://d2sifwlm28j6up.cloudfront.net/site_description.png');
	position: relative;
	width: 525px;
	height: 67px;
	top: -48px;
	left: 39%;
}
@media screen and (min-width: 1322px) {
	#siteDescription {
		left: 30%;
	}
}

#siteFeatures {
	background-image: url('http://d2sifwlm28j6up.cloudfront.net/site_features.png');
	position: relative;
	width: 557px;
	height: 108px;
	top: 5px;
	left: 39%;
}
@media screen and (min-width: 1322px) {
	#siteFeatures {
		left: 30%;
	}
}

#siteFeaturesDetail {
	background-image: url('http://d2sifwlm28j6up.cloudfront.net/site_features_detail.png');
	position: relative;
	margin-left: 438px;
	height: 94px;
	width: 100px;
	top: -95px;
	left: 39%;
	visibility: hidden;
}
@media screen and (min-width: 1179px) and (max-width: 1322px) {
	#siteFeaturesDetail {
		visibility: visible;
		width: 265px;
	}
}
@media screen and (min-width: 1323px) {
	#siteFeaturesDetail {
		left: 30%;
		visibility: visible;
		width: 265px;
	}
}


#buttonContainer {
	position: relative;
	width: 332px;
	height: 101px;
	top: -226px;
	left: 45px;
}

#signupHitArea {
	position: absolute;
	cursor: pointer;
	width: 136px;
	height: 41px;
	top: 31px;
	left: 25px;
	z-index: 10;
}
#signupButton {
	.signup_button();
	position: absolute;
	width: 186px;
	height: 86px;
	top: 10px;
	left: 0px;

	&.hover {
		.signup_button_over();
	}
	&.active {
		.signup_button_down();
	}
}

#loginHitArea {
	position: absolute;
	cursor: pointer;
	width: 117px;
	height: 39px;
	top: 32px;
	left: 172px;
	z-index: 10;
}
#loginButton {
	.login_button();
	position: absolute;
	width: 160px;
	height: 86px;
	top: 10px;
	left: 147px;

	&.hover {
		.login_button_over();
	}
	&.active {
		.login_button_down();
	}
}

#guideHitArea {
	position: absolute;
	cursor: pointer;
	width: 120px;
	height: 39px;
	top: 81px;
	left: 42px;
	z-index: 10;
}
#guideButton {
	.guide_button();
	position: absolute;
	width: 169px;
	height: 86px;
	top: 56px;
	left: 17px;

	&.hover {
		.guide_button_over();
	}
	&.active {
		.guide_button_down();
	}
}

/* USE HEADER
-----------------------------------------------------------*/
#userMenu {
	top: 3px;
	display: none;

	.userEmail {
		display: inline-block;
		max-width: 150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}


/* LOGIN FORM
-----------------------------------------------------------*/
#loginForm {
	.form_bg();
	position: relative;
	top: -218px;
	left: 37px;
	height: 75px;
	width: 315px;
	display: none;

	input {
		width: 183px;
		background-color: transparent;
		border: 0;
		color: white;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		font-size: 15px;
		height: 22px;
		margin-bottom: 4px;

		&:focus {
			-webkit-box-shadow: none;
			-moz-box-shadow:    none;
			box-shadow:         none;
		}
	}
}

#signupSubmitButton {
	.signup_button_small_over();
	display: none;
	cursor: pointer;
	position: absolute;
	width: 100px;
	height: 46px;
	top: 78px;
	left: 208px;

	&:hover {
		.signup_button_small();
	}
	&:active {
		.signup_button_small_over();
	}
}

#loginSubmitButton {
	.login_button_small_over();
	display: none;
	cursor: pointer;
	position: absolute;
	width: 89px;
	height: 46px;
	top: 78px;
	left: 221px;

	&:hover {
		.login_button_small();
	}
	&:active {
		.login_button_small_over();
	}
}

#backButton {
	.back_button_over();
	display: none;
	cursor: pointer;
	position: absolute;
	width: 35px;
	height: 46px;
	top: 78px;

	&.login {
		left: 188px;
	}
	&.signup {
		left: 175px;
	}
	&:hover {
		.back_button();
	}
	&:active {
		.back_button_over();
	}
}

#email {
	position: absolute;
	top: 4px;
	left: 107px;
}

#password {
	position: absolute;
	top: 41px;
	left: 107px;
}

#rememberCheckboxToggle {
	.opacity(.6);
	.remember_checkbox_off();
	cursor: pointer;
	position: absolute;
	width: 118px;
	height: 17px;
	top: 79px;
	left: 4px;

	&:hover {
		.opacity(1);
	}

	&.on {
		.remember_checkbox_on();
	}
}

#resetPasswordButton {
	.opacity(.4);
	.reset_password();
	cursor: pointer;
	position: absolute;
	width: 124px;
	height: 19px;
	top: 99px;
	left: 0;

	&:hover {
		.opacity(1);
	}
}

#invalidLoginTag {
	display: none;
	.invalid_login_tag();
	position: absolute;
	width: 115px;
	height: 28px;
	top: 82px;
	left: 309px;
}

#accountExistsTag {
	display: none;
	.account_exists_tag();
	position: absolute;
	width: 130px;
	height: 28px;
	top: 82px;
	left: 309px;

}


/* CONTENT CONTAINER
------------------------------------------------------------*/
#wrapper {

	a {
		outline: 0;
	}
	input {
		outline: 0;
	}

	/* STANDARD VIEW
	----------------------- */
	&.standardView {
		text-align: left;
		margin: 46px auto;
		width: 100%;

		/* PANEL STYLES
		----------------------- */
		#panel1 {
			.column(14, @panel-columns);
			-moz-transform: translate3d(0, 0, 0);
		}
		#panel2 {
			.column(11, @panel-columns);
			-moz-transform: translate3d(0, 0, 0);
			max-width: 300px;
		}

		#panel3 {
			.column(23, @panel-columns);
			-moz-transform: translate3d(0, 0, 0);
		}
		#panel4 {
			display: none;
		}
		#gridViewMenu {
			display: none;
		}
	}

	/* GRID VIEW
	----------------------- */
	&.gridView {
		text-align: left;
		width: 100%;
		margin: 46px auto !important;

		#infoHeader {
			display: none;
		}

		#header {
			min-width: 1266px;
			display: block;
		}

		/* PANEL STYLES
		----------------------- */
		#panel1 {
			display: none;
		}
		#panel2 {
			position: fixed;
			top: 46px;
			margin-left: 10px;
			width: 287px;
		}
		#panel3 {
			display: none;
		}

		@media only screen and (max-width: 1500px), only screen and (max-device-width: 1500px) {
			#panel4 {
				width: 72% !important;
			}
		}
		@media only screen and (max-width: 1200px), only screen and (max-device-width: 1200px) {
			#panel4 {
				width: 69% !important;
			}
		}

		#panel4 {
			margin: 0 307px;
			position: relative;
			top: 0px;
			width: 78%;
		}

		#gridViewMenu {
			display: block;
		}
	}
}

#header {
	min-width: 500px;
	display: none;

	.container-fluid {
		margin: 0 auto;
		max-width: 1600px;
		padding-right: 0px;
	}

	.miniLogo {
		background-image:  url('http://d2sifwlm28j6up.cloudfront.net/logo_small.png');
		float: left;
		position: relative;
		height: 22px;
		width: 129px;
		top: 6px;
		left: -1px;
	}
}

#content {
	max-width: 1600px;
	padding-left: 9px;
	margin: 0 auto;
}

.header {
	background-image:  url('http://d2sifwlm28j6up.cloudfront.net/bg_tile_light.png');
	color: #ffffff;
	height: 17px;
	position: relative;
	z-index: 999;
	border-top: 1px solid #626d6b;
}

.panel {
	.borderRadius(2px);
	background-color: #F5F5F5;
	padding: 29px 10px 10px 10px;
	position: relative;
	top: -17px;
}



/* COMPONENT STYLES
-----------------------------------------------------------*/

.loadingStatus {
	display: none;
	background-image:  url('http://d2sifwlm28j6up.cloudfront.net/loading_bar.gif');
	margin: 5px auto;
	width: 48px;
	height: 48px;
}

.no-results {
	strong {
		color: #1D9400;
	}
}

.subMenuIcon {
	float: right;
}

#accountManagement-modal {

	#deleteAccount_btn {
		float: left;
	}

	#clearLocalStorage_btn {
		float: left;
	}

	.alert {
		display: none;
		margin-bottom: 0;
	}
}

.metascore {
	.borderRadius(2px);
	background: no-repeat 0 0;
	display: block;
	float: right;
	font-size: 16px;
	font-weight: 600;
	line-height: 37px;
	margin: 0;
	padding: 0;
	text-align: center;
	height: 42px;
	width: 42px;

	&:link {text-decoration: none;}
	&:visited {text-decoration: none;}
	&:hover {
		text-decoration: none;
		line-height: 43px;
		background-position: 2px 4px;
	}
	&:active {text-decoration: none;}

	&.favorable {
		.metacritic_favorable();
		color: #3b5212;
		&:hover {
			.metacritic_favorable_over();
		}
	}
	&.neutral {
		.metacritic_neutral();
		color: #5c4c0a;
		&:hover {
			.metacritic_neutral_over();
		}
	}
	&.unfavorable {
		.metacritic_unfavorable();
		color: #622615;
		&:hover {
			.metacritic_unfavorable_over();
		}
	}
	&.unavailable {
		.metacritic_unavailable();
		font-size: 14px;
		color: #8D8D8D;
		line-height: 36px;
		&:hover {
			.metacritic_unavailable_over();
			color: #6E6E6E;
			line-height: 42px;
		}
	}
}

.noResults {
	.borderRadius(2px);
	background-color: #C0C4C4;
	color: white;
	font-weight: 700;
	padding: 10px;
	text-align: center;
}

.nano .content {
	padding: 0px 10px 0px 0px;
}
.nano .pane {
	background: #444;
}
.nano .pane .slider {
	background: #111;
}

/* IMPORT MODAL
-----------------------------------------------------------*/
#import-modal {

	#confirmImport_btn {
		display: none;
	}

	.loadingStatus {
		display: none;
	}

	&.ready {
		#confirmImport_btn {
			display: inline-block;
		}
	}

	&.loading {
		.loadingStatus {
			display: block;
		}
	}

	#importProgressContainer {
		.transition(.4s);
		.opacity(0);

		&.show {
			.opacity(1);

			#importProgress {
				width: 240px;
			}
		}
	}
	#importProgress {
		.transition(.4s);
		margin-right: 10px;
		margin-top: 5px;
		float: left;
		width: 10px;
	}

	#importStatus {
		margin-top: 5px;
		float: left;

		.status {
			color: #5C707A;
			margin: 1px 10px 0px 10px;
			font-size: 12px;
			left: -9px;
		}
	}
}

#importResults {
	.mediumImage {
		min-width: 100px;
		max-width: 119px;
		width: 19%;
	}

	.importFailed {

		td {
			background-color: #F7ECEC;
			color: #572F2F;
		}

		.itemName {
			font-size: 14px;
			font-weight: 600;
		}
	}
}

/* VIDEO MODAL
-----------------------------------------------------------*/
#video-modal {
	position: absolute;
	width: 900px;
	margin: -330px 0 0 -450px;
	background-color: rgba(255, 255, 255, .1);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	z-index: 2000;

	.modal-body {
		max-height: 800px;
		background-color: transparent;
	}
	.modal-footer {
		text-align: center;
		margin: 0 auto;
		background-color: rgba(6, 17, 19, 0.54);
		border-top: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		height: 23px;
		padding: 13px 10px;
	}
	#videoModalTitle {
		margin: 0;
		font-size: 18px;
		color: #666D72;
		display: inline-block;
		line-height: 1.5;
	}
	#videoModalClose_btn {
		.opacity(.2);
		padding: 0px 6px;
		font-weight: bold;
		float: right;
		display: inline-block;

		&:hover {
			.opacity(.6);
		}
	}
}

#videoPlayerContainer {

	text-align: center;

	#videoPlayer {
		margin: 0 auto;
		width: 870px;
		height: 490px;
	}
}

#videoListContainer {
	position: relative;
	width: 100%;
	height: 91px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 10px;
}

#videoList {
	.transition(.3s);
	list-style-type: none;
	position: relative;
	width: 796px;
	left: -21px;

	.videoItem {
		background-color: #000;
		border-radius: 2px;
		box-shadow: 0 0 0 2px #000;
		float: left;
		height: 79px;
		margin: 7px 15px 3px 0px;
		width: 140px;

		&:hover {
			box-shadow: 0 0 0 2px #fff;

			-moz-animation: bounceOut .4s linear;
			-webkit-animation: bounceOut .4s linear;
		}

		&.playing {
			box-shadow: 0 0 0 2px #fff;
		}

		a {
			display: block;

			img {
				border-radius: 2px;
			}
		}
	}


	&.display-0 {

		.smallImage {
		}
		.mediumImage {
			display: none;
		}
	}
	&.display-1 {

		.smallImage {
			display: none;
		}
		.mediumImage {
		}
	}
}

#videoListNavigation {

	.navigate_well();
	position: absolute;
	width: 63px;
	height: 52px;
	left: 792px;
	top: 21px;

	.navigateLeft {
		.opacity(.5);
		.navigate_left();
		position: absolute;
		background-repeat :repeat;
		cursor: pointer;
		width: 30px;
		height: 30px;
		top: 21px;
		left: 2px;

		&:hover {
			.opacity(1);
			.navigate_left_over();
		}
		&:active {
			.opacity(1);
			.navigate_left();
		}
	}

	.navigateRight {
		.opacity(.5);
		.navigate_right();
		position: absolute;
		background-repeat: repeat;
		cursor: pointer;
		width: 30px;
		height: 30px;
		left: 31px;
		top: 21px;

		&:hover {
			.opacity(1);
			.navigate_right_over();
		}
		&:active {
			.opacity(1);
			.navigate_right();
		}
	}

	.pageNumber {
		.unselectable();
		color: #AAA9A8;
		font-weight: 600;
		position: absolute;
		text-align: center;
		width: 58px;
		height: 20px;
		left: 2px;
		top: 1px;
	}
}

/* RESET PASSWORD MODAL
-----------------------------------------------------------*/
#resetpassword-modal {

	.alert {
		display: none;
	}
}
.updatePasswordForm {
	display: none;
}

.passwordResetCodeContainer {
	display: none;
}
#submitResetCode_btn {
	display: none;
}
#updatePassword_btn {
	display: none;
}

/* OPTIONS
-----------------------------------------------------------*/
.optionsGroup {
	margin: 0px 0px 8px 0px;
}

.filterOptions {

}

.filterStatus {
	display: none;
}

.displayOptions {
	float: left;
	margin-right: -11px;
	position: relative;

	button {
		width: 36px;
		height: 37px;
		margin-right: 3px;

		&:hover {
			background-position: 3px 4px;
		}
		&.active {
			background-position: 0px 0px;
		}
	}

	.display1 {
		.display_1_button();
		left: 0px;

		&:hover {
			.display_1_button_active2();
		}
		&:active {
			.display_1_button_hover();
		}
		&.active {
			.display_1_button_active();
		}
	}
	.display2 {
		.display_2_button();
		left: -9px;
		&:hover {
			.display_2_button_active2();
		}
		&:active {
			.display_2_button_hover();
		}
		&.active {
			.display_2_button_active();
		}
	}
	.display3 {
		.display_3_button();
		left: -18px;
		&:hover {
			.display_3_button_active2();
		}
		&:active {
			.display_3_button_hover();
		}
		&.active {
			.display_3_button_active();
		}
	}
}

/* MODALS
-----------------------------------------------------------*/
#filters-modal {

	.modal-body {
		height: 260px;
	}

}

/* SEARCH VIEW PANEL
-----------------------------------------------------------*/
#searchField {
	float: left;
	margin-bottom: 20px;
	margin-right: 2px;

	input {
		font-size: 13px;
		height: 19px;
		width: 124px;
		background-color: #E8E8E8;
		border: 1px solid #999999;
		border-right: none;
		text-shadow: 0 1px 0 #FFFFFF;

		&:focus {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			outline: none;
		}
	}
	.add-on {
		height: 19px;
		border: 1px solid #999999;
		background-color: #E8E8E8;

		i {
			.opacity(.6);
		}

	}
}

#searchFieldContainer {
	min-width: 267px;
}

#search_btn {
	float: left;
	.search_button();
	width: 93px;
	height: 37px;

	&:hover {
		.search_button_active();
	}
	&:active {
		.search_button_over();
	}
}

#clearSearch_btn {

	i {
		background-position: -312px 2px;
	}

	&.hover {
		cursor: pointer;

		&:hover {
			background-color: #cccccc;
		}
	}
}

#searchViewMenu {
	position: relative;
	min-width: 268px;
	left: -4px;

	.navigationBar {
		width: 90%;
	}
	.nav {
		width: 100%;
	}
	#listPlatforms {
		max-width: 50%;
	}
	.dropdown-toggle {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

#providerContainer {
	float: left;
	margin: 0px 10px 8px 0px;
}
#searchProvider {

}
#listType {
	display: none;
	margin-left: 0;
}
.providerSelect_btn {

}
.searchDisplayOptions {
	margin-right: -13px;
}
.btn-group + .listDisplayOptions.btn-group {
	display: none;
	margin-left: 0px;
	margin-right: -10px;
}

#listPlatforms {
	display: none;
}

#searchResultsDisplayGroup {
	margin: 8px 0px 8px 0px;
}

#finderTabLinks {
	position: relative;
	z-index: 1;
	margin-bottom: 8px;
}

#searchResultsContainer {
	height: 95px;
	.transition(.4s);
}

#searchResults {

	margin-bottom: 0px;

	tr {
		cursor: pointer;
	}

	.display-0 {

		.smallImage, .mediumImage {
			display: none;
		}
		.title {

		}
		.calendarDate {
			display: none;
		}
		.platform {
			display: none;
		}
	}

	.display-1 {

		.smallImage {
			width: 11%;
			min-width: 52px;

			img {
				max-width: 55px;
			}
		}
		.mediumImage {
			display: none;
		}
		.title {

		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 12px;
		}
		.platform {
			color: #7D7D7D;
			font-size: 12px;
		}
	}

	.display-2 {

		.smallImage {
			display: none;
		}
		.mediumImage {
			min-width: 100px;
			max-width: 119px;
			width: 15%;

			img {
				max-width: 115px;
			}
		}
		.title {

		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 12px;
		}
		.platform {
			color: #7D7D7D;
			font-size: 12px;
		}
	}
}

#listResultsContainer {
	.transition(.4s);

	.display-0 {

		.mediumImage {
			display: none;
		}
		.title {

		}
		.calendarDate {
			display: none;
		}
	}

	.display-1 {

		.mediumImage {
			width: 11%;
			min-width: 52px;

			img {
				max-width: 55px;
			}
		}
		.title {

		}
		.itemName {
			font-size: 1.2em;
			padding-bottom: 5px;
		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 12px;
		}
		.platform {
			color: #7D7D7D;
			font-size: 12px;
		}
	}

	.display-2 {

		.mediumImage {
			min-width: 100px;
			max-width: 119px;
			width: 15%;

			img {
				max-width: 115px;
			}
		}
		.title {

		}

		.itemName {
			font-weight: 600;
			font-size: 1.25em;
			padding-bottom: 10px;
		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 1.1em;
		}
		.platform {
			color: #7D7D7D;
			font-size: 1.1em;
		}
	}
}

#listResults {

	tr {
		cursor: pointer;
	}

	.releaseDate {
		display: none;
	}
}

/* DETAIL VIEW PANEL
------------------------------------------------------------*/
#itemDetailsContainer {

}

#itemDetails {

	#detailTab {
		margin-bottom: 5px;
	}

	#detailContainer {
		margin: 10px 0px 0px 10px;
	}

	table {
		width: 100%;

		td {
			padding: 3px;
		}
	}

	.detailTitleBar {
		margin-top: 14px;
		display: none;
	}

	.itemDetailTitle {

		width: 78%;
		float: left;

		h3 {
			background-image: url('http://d2sifwlm28j6up.cloudfront.net/title_bar_center.png');
			background-repeat: repeat-x;
			color: #D5D5D5;
			float: left;
			font-family: 'Open Sans',sans-serif;
			font-size: 16px;
			line-height: 1;
			margin: 0;
			overflow: hidden;
			padding: 11px 0px 0px 2px;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
			top: -3px;
			width: 85%;
			height: 36px;
		}

		.leftCap {
			float: left;
			position: relative;
			background-image: url('http://d2sifwlm28j6up.cloudfront.net/title_bar_left.png');
			top: -3px;
			width: 10px;
			height: 42px;
		}

		.rightCap {
			float: left;
			position: relative;
			background-image: url('http://d2sifwlm28j6up.cloudfront.net/title_bar_right.png');
			top: -3px;
			width: 9px;
			height: 42px;
		}
	}

	.itemDetailMetascore {
		float: right;
		position: relative;
		text-align: right;
		vertical-align: top;
		top: -3px;
	}

	.itemDetailReleaseDate {
	}

	.itemDetailThumbnail {
		margin: 5px 2px 10px 2px;
		min-height: 335px;
		position: relative;

		img {
			max-width: 100%;
			max-height: 380px;
		}

		&:hover {
			.itemDetailInfo {
				.opacity(1);
			}
		}
	}

	.itemDetailInfo {
		.transition(0.5s, 1,0,.39,.33);
		.opacity(0);
		.boxShadow(.2);
		.borderRadius(4px);
		background-color: #ffffff;
		background-color: rgba(255, 255, 255, 0.96);
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
	.showVideo_btn {
		.videos_button();
		display: inline-block;
		position: relative;
		left: 6px;
		top: 5px;
		width: 95px;
		height: 37px;

		&:hover {
			.videos_button_active();
		}
		&:active {
			.videos_button_over();
		}

		&.noVideos {
			.no_videos_button();
			width: 118px;
			height: 37px;
		}
	}

	.showDiscussion_btn {
		.discussion_button();
		display: inline-block;
		position: relative;
		left: 6px;
		top: 5px;
		width: 122px;
		height: 37px;

		&:hover {
			.discussion_button_active();
		}
		&:active {
			.discussion_button_over();
		}

		&.noVideos {
			.no_videos_button();
			width: 118px;
			height: 37px;
		}
	}
}

#dataTab {
	display: none;
	margin-bottom: 10px;
}

#itemAttributes {
	display: none;
	padding: 0px 0;

	li {
		line-height: 18px;
	}
}

#addListContainer {
	float: left;
	margin: 0px 4px 4px 0px;

	.search-field input {
		font-family: 'Open Sans', sans-serif;
	}
}

#addList {
	width: 170px;
}

#addListButtons {
	float: left;
}
#saveItem_btn {
	display: none;
}
#saveAttributesContainer {
	display: none;
}

#giantBombDescription-modal {
	margin: -250px 0 0 -480px;
	width: 1000px;
}

#amazonDescription-modal {
	margin: -250px 0 0 -480px;
	width: 1000px;
}

#customTab {

	.controls {
		margin-left: 32%;
		height: 100%;
	}
	.control-group {
		height: 50px;
		margin-bottom: 0px;
	}
	.control-label {
		color: #627580;
		font-weight: 600;
		font-size: 13px;
		width: 25%;
	}
	.btn-group {
		margin-top: -14px;
		position: relative;
		top: 50%;
		height: 28px;
	}

	#playStatus {

	}

	#gameStatus {

	}

	#userRating {
		float: left;
		margin-right: 10px;
		margin-top: 6px;
	}
	#ratingCaption {
		float: left;
		margin-top: 6px;
	}
}

#addItem_btn {
	float: left;
	.add_button();
	width: 74px;
	height: 37px;

	&:hover {
		.add_button_active();
	}
	&:active {
		.add_button_over();
	}
}

#saveItem_btn {
	float: left;
	.save_button();
	width: 77px;
	height: 37px;

	&:hover {
		.save_button_active();
	}
	&:active {
		.save_button_over();
	}
}


/* ITEM VIEW PANEL
-----------------------------------------------------------*/
#viewItemsContainer {

	&.collection {

		#disqus_thread {
			display: none;
		}
		#showCollection_btn {
			display: none;
		}
	}

	&.discussion {

		#disqus_thread {
			display: block;
		}
		#showCollection_btn {
			display: block;
		}
		.optionsGroup {
			display: none;
		}
		#itemViewMenu {
			display: none;
		}
		#itemResults {
			display: none;
		}

	}
}

#disqus_thread {
	margin-right: 20px;
}

#itemViewMenu {
	.navigationBar {
		width: 94%;
	}

	.nav {
		width: 100%;
	}

	.filterOptions {
		max-width: 38%;
	}

	.sortOptions {
		max-width: 33%;
	}

	.dropdown-toggle {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

#viewList {
	max-width: 29%;
	margin-right: 20px;
}

#itemResultsContainer {
	.transition(.4s);
	height: 88px;
}

#editMenu {
	display: none;
	float: left;

	.dropdown-menu {
		left: 4px;
		top: 30px;
	}

	&.open {
		.edit_btn {
			.edit_button_over();
		}
	}
}

.edit_btn {
	.edit_button();
	float: left;
	width: 72px;
	height: 37px;

	&:hover {
		.edit_button_active();
	}
	&:active {
		.edit_button_over();
	}
}

#importMenu {
	float: left;

	.dropdown-menu {
		left: 4px;
		top: 30px;
	}

	&.open {
		.import_btn {
			.import_button_over();
		}
	}
}

.import_btn {
	.import_button();
	float: left;
	width: 93px;
	height: 37px;

	&:hover {
		.import_button_active();
	}
	&:active {
		.import_button_over();
	}
}

#itemResults {

	margin-bottom: 0px;

	tr {
		cursor: pointer;

		&:hover {
			.quickAttributes {
				display: block;
			}
			.deleteItem_btn {
				visibility: visible;
			}
		}
	}

	/* fixes 'gaps' between tds for hover event in chrome */
	td {
		position: relative;
	}

	/* data fields */
	.releaseDate {
	display: none;
	}
	.gameStatus {
	display: none;
	}
	.playStatus {
	display: none;
	}
	.userRating {
	display: none;
	}
	.options {
		padding: 10px 2px 0px 0px;
		text-align: right;
	}

	.extraData {
		position: relative;

	}
	.priceDetails {
		width: 160px;

		.priceMenu {
			position: relative;
			margin-bottom: 0px;

			.priceButton {
				.price_menu_button();
				position: relative;
				display: inline-block;
				padding: 4px 0 0 11px;
				text-decoration: none;
				height: 26px;
				width: 98px;
				left: -1px;

				&:hover {
					.price_menu_button_over();
				}
			}

			.priceToggle {
				.price_menu_toggle();
				position: absolute;
				display: inline-block;
				height: 30px;
				width: 25px;
				top: 0px;
				left: 107px;

				&:hover {
					.price_menu_toggle_over();
				}
			}

			.priceSource {
				font-size: 11px;
				color: #808080;
			}
			.priceValue {
				font-size: 12px;
				color: #606060;
			}
		}
	}
	.quickAttributes {
		display: none;
		margin-top: 2px;
		width: 160px;

		span {
			display: inline-block;
		}
		a {
			display: inline-block;
			width: 31px;
			height: 29px;
			background-position: -3px;
			margin-right: -3px;
		}

		/* quick icon buttons */
		.attrPlaying {
			.quick_playing_button();
			&:hover {
				.quick_playing_button_over();
			}
		}
		.attrPlayed {
			.quick_played_button();
			&:hover {
				.quick_played_button_over();
			}
		}
		.attrFinished {
			.quick_finished_button();
			&:hover {
				.quick_finished_button_over();
			}
		}
		.attrFavorite {
			.quick_heart_button();
			&:hover {
				.quick_heart_button_over();
			}
		}
		.attrOwned {
			.quick_owned_button();
			&:hover {
				.quick_owned_button_over();
			}
		}

		/* quick icon buttons: selected*/
		.playStatus-1 .attrPlaying {
			.quick_playing_button_active();
		}
		.playStatus-2 .attrPlayed {
			.quick_played_button_active();
		}
		.playStatus-3 .attrFinished {
			.quick_finished_button_active();
		}
		.rating-10 .attrFavorite {
			.quick_heart_button_active();
		}
		.gameStatus-1 .attrOwned {
			.quick_owned_button_active();
		}
	}
	.deleteItem_btn {
		.delete_button();
		display: inline-block;
		visibility: hidden;
		width: 36px;
		height: 30px;

		&:hover {
			.delete_button_over();
		}
	}

	/* LIST VIEW */
	.display-0 {

		.smallImage, .mediumImage {
			display: none;
		}
		.itemName {

		}
		.calendarDate {
			display: none;
		}
		.platform {
			display: none;
		}
		.extraData {
			min-width: 150px;
		}
	}

	/* ICON VIEW */
	.display-1 {

		.smallImage {
			width: 11%;
			min-width: 52px;

			img {
				max-width: 55px;
			}
		}
		.mediumImage {
			display: none;
		}
		.itemName {
			padding-bottom: 5px;
			font-size: 1.2em;
		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 12px;
		}
		.platform {
			font-size: 12px;
			color: #7D7D7D;
		}
		.extraData {
			min-width: 150px;
		}
		.quickAttributes {
			display: block;
		}
	}

	/* COVER VIEW */
	.display-2 {

		.smallImage {
			display: none;
		}
		.mediumImage {
			min-width: 100px;
			max-width: 119px;
			width: 19%;

			img {
				max-width: 115px;
			}
		}
		.itemName {
			font-weight: 600;
			font-size: 1.25em;
			padding-bottom: 10px;
		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 1.1em;
		}
		.platform {
			color: #7D7D7D;
			font-size: 1.1em;
		}
		.extraData {
			display: none;
		}
	}
}

#gridView_btn {
	float: left;
	.grid_view_button();
	width: 114px;
	height: 37px;

	&:hover {
		.grid_view_button_active();
	}
	&:active {
		.grid_view_button_over();
	}
}

#showCollection_btn {
	.back_button_alt();
	width: 81px;
	height: 37px;

	&:hover {
		.back_button_alt_active();
	}
	&:active {
		.back_button_alt_over();
	}
}


/* GRID VIEW PANEL
-----------------------------------------------------------*/
#gridViewContainer {

	display: none;
	padding-bottom: 50px;

	&.display-0 {
		.gridItem {
			margin: 2px;
			width: 100px;
		}

	}
	&.display-1 {
		.gridItem {
			margin: 3px;
			width: 175px;
		}
	}
	&.display-2 {
		.gridItem {
			margin: 5px;
			width: 320px;
		}
	}
	&.display-3 {
		.gridItem {
			margin: 3px;
			width: 175px;
		}
		.itemAttributes {
			display: block;
		}
	}

	.itemAttributes {
		display: none;
	}
	.itemName {
		display: none;
	}
	.metacriticScore {
		display: none;
	}
	.releaseDate {
		display: none;
	}
	.rawPrice {
		display: none;
	}
	.gameStatus {
		display: none;
	}
	.playStatus {
		display: none;
	}
	.userRating {
		display: none;
	}

}

#gridViewMenu {
	top: 3px;
	margin-left: 157px;

	.navbar-inner {
		padding-left: 4px;
		padding-right: 4px;
	}
}

.gridItem {
	.boxShadow(.3);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	float: left;
	margin: 3px;
	width: 175px;

	.thumbnail {
		background-color: rgba(255, 255, 255, 0.50);
	}

	img {
		display: block;
		width: 100%;
		cursor: pointer;
	}
}

.itemAttributes {
	margin-top: 12px;

	.nav-list {
		margin-bottom: 0;
	}
}

#gridListContainer {
	float: left;
	margin-right: 15px;
}

#exitGridView_btn {
	float: right;
}

@import	'select2';
@import	'nanoscroller';
@import	'jquery.ui.stars.min';
@import	'isotope';
@import	'videojs';
@import 'alertify';
