@import 'mixins.less';
@import 'grid.less';
@import 'giantbomb';

/* SEMANTIC GRID CONFIG
-----------------------------------------------------------*/

// Specify the number of columns and set column and gutter widths
@panel-columns: 48;
@list-columns: 48;

@gutter-width: 40;

// Remove the definition below for a pixel-based layout
@total-width: 100%;


@neutralDark1: #666d6e;
@neutralDark2: #8a9394;


/* MIXINS
-----------------------------------------------------------*/
.gradientBG_dark {
	background-color: @neutralDark2;
	background-image: -moz-linear-gradient(top, @neutralDark1, @neutralDark2);
	background-image: -ms-linear-gradient(top, @neutralDark1, @neutralDark2);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( @neutralDark1),to( @neutralDark2));
	background-image: -webkit-linear-gradient(top, @neutralDark1, @neutralDark2);
	background-image: -o-linear-gradient(top, @neutralDark1, @neutralDark2);
	background-image: linear-gradient(top, @neutralDark1, @neutralDark2);
	border-color: @neutralDark2 @neutralDark2 @neutralDark2;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
}
.boxShadow(@opacity) {
	-webkit-box-shadow: 5px 5px 20px 2px rgba(0, 0, 0,@opacity);
	-moz-box-shadow:    5px 5px 20px 2px rgba(0, 0, 0,@opacity);
	box-shadow:         5px 5px 20px 2px rgba(0, 0, 0,@opacity);
}
.borderRadius(@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

.transition(@duration) {
	-webkit-transition: all @duration ease-out;
	-moz-transition: all @duration ease-out;
	-o-transition: all @duration ease-out;
	-ms-transition: all @duration ease-out;
	transition: all @duration ease-out;
}
.opacity(@opacity) {
	-moz-opacity: @opacity;
	opacity: @opacity;
}


.clear {
	clear: both;
}


/* LAYOUT STYLES
-----------------------------------------------------------*/
html {

}

body {
	background-image:  url('../images/bg_tile.png');
	background-repeat: repeat;
	color: #3C3C3C;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	font-weight: 600;
	min-width: 1140px;
}

body.infoHeader {

}

body.useHeader {
	padding-top: 46px;

	.header {
		background-color: #3D3D3D;
		border-top: 1px solid #575757;
	}
}

input, select, textarea {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

/* INFO HEADER STYLES
-----------------------------------------------------------*/
#infoHeader {
	background-image:  url('../images/header_tile.png');
	background-repeat: repeat-x;
	height: 298px;
	.column(48, @panel-columns);
	margin-bottom: 8px;
}

#logo {
	background-image:  url('../images/logo.png');
	position: relative;
	width: 308px;
	height: 51px;
	left: 29px;
	top: 31px;
}

#siteDescription {
	background-image:  url('../images/site_description.png');
	position: relative;
	width: 483px;
	height: 64px;
	top: -27px;
	left: 39%;
}
#siteFeatures {
	background-image:  url('../images/site_features.png');
	position: relative;
	width: 706px;
	height: 108px;
	top: 45px;
	left: 39%;
}

#signupButton {
	.opacity(.6);
	cursor: pointer;
	background-image:  url('../images/signup_button.png');
	position: relative;
	width: 148px;
	height: 44px;
	top: -63px;
	left: 30px;

	&:hover {
		.opacity(.8);
	}
}

#loginButton {
	.opacity(.6);
	cursor: pointer;
	background-image:  url('../images/login_button.png');
	position: relative;
	width: 122px;
	height: 44px;
	top: -107px;
	left: 194px;

	&:hover {
		.opacity(.8);
	}
}

#signupSubmitButton {
	display: none;
	.opacity(.6);
	cursor: pointer;
	background-image:  url('../images/signup_button_small.png');
	position: relative;
	width: 112px;
	height: 34px;
	top: 15px;
	left: 201px;

	&:hover {
		.opacity(.8);
	}
}

#loginSubmitButton {
	display: none;
	.opacity(.6);
	cursor: pointer;
	background-image:  url('../images/login_button_small.png');
	position: relative;
	width: 91px;
	height: 34px;
	top: 15px;
	left: 221px;

	&:hover {
		.opacity(.8);
	}
}

#backButton {
	display: none;
	.opacity(.6);
	cursor: pointer;
	background-image:  url('../images/back_button.png');
	position: relative;
	width: 25px;
	height: 34px;
	top: -19px;

	&.login {
		left: 193px;
	}
	&.signup {
		left: 173px;
	}

	&:hover {
		.opacity(.8);
	}
}

#loginForm {
	position: relative;
	background-image:  url('../images/form_bg.png');
	background-repeat: no-repeat;
	top: -64px;
	left: 30px;
	height: 84px;
	display: none;

	input {
		width: 194px;
		background-color: transparent;
		border: none;
		color: #fff;
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
		font-size: 20px;
		height: 22px;
		padding-left: 45px;
		margin-bottom: 4px;

		&:focus {
			-webkit-box-shadow: none;
			-moz-box-shadow:    none;
			box-shadow:         none;
		}
	}
}

#email {
	position: relative;
	top: 5px;
	left: 68px;
}

#password {
	position: relative;
	top: 12px;
	left: 68px;
}

/* CONTENT CONTAINER
-----------------------------------------------------------*/
#wrapper {
	margin: 0 auto;
	max-width: 1450px;

	/* BOOTSTRAP OVERRIDES
	-----------------------------------------------------------*/
	.nav-list a {
		color: #3C3C3C;
	}
	.nav-list a:hover {
		color: #313131;
	}
	.nav-tabs a {
		color: #3C3C3C;
	}
	.nav-tabs a:hover {
		color: #313131;
	}
	.table-striped tbody tr:nth-child(odd) td {
		background-color: #F5F5F5;
	}
	.table tbody tr:hover td {
		background-color: #ffffff;
	}
	.table th, .table td {
		border-top: 1px dotted #DDD;
	}
	.btn-dark {
		.gradientBG_dark();
		font-size: 12px;
		color: #ffffff;
		text-shadow: none;

	}
	.btn-dark:hover{

	}

	.nav i {
		.opacity(.7);
		margin-top: 2px;
		margin-right: 2px;
	}

	.navbar .nav > li > a {
		padding: 6px 10px 7px;
	}
	.navbar-inner {
		min-height: 0px;
	}

	.options .icon-remove {
		.opacity(.5);
	}
	.tab-content {
		display: block;
	}

	/* STANDARD VIEW
	----------------------- */
	&.standardView {
		text-align: left;
		width: 100%;

		/* PANEL STYLES
		----------------------- */
		#panel1 {
			.column(13, @panel-columns);
			/*max-width: 375px;*/
		}
		#panel2 {
			.column(12, @panel-columns);
			/*max-width: 320px;*/
		}
		#panel3 {
			.column(23, @panel-columns);
			/*max-width: 600px;*/
		}
		#panel4 {
			display: none;
		}
		#panel5 {
			display: none;
		}
	}

	/* GRID VIEW
	----------------------- */
	&.gridView {
		margin: 0 auto;
		text-align: left;
		width: 100%;

		#infoHeader {
			display: none;
		}

		/* PANEL STYLES
		----------------------- */
		#panel1 {
			display: none;
		}
		#panel2 {
			position: fixed;
			top: 46px;
			width: 280px;
		}
		#panel3 {
			display: none;
		}
		#panel4 {
			margin: 0 300px;
			position: relative;
			top: 0px;
			width: 74%;
		}
		#panel5 {
			margin: 0 300px;
			position: fixed;
			top: -8px;
			width: 800px;
			z-index: 9999;
		}
	}
}

.header {
	background-color: #364546;
	color: #ffffff;
	height: 17px;
	position: relative;
	z-index: 999;
	border-top: 1px solid #626d6b;
}

.panel {
	.borderRadius(2px);
	background-color: #F5F5F5;
	padding: 29px 10px 10px 10px;
	position: relative;
	top: -17px;
}

#header {
	min-width: 1140px;
	display: none;

	.navbar-inner {
		background-color: #2C2C2C;
		background-image: -moz-linear-gradient(top, #333, #222);
		background-image: -ms-linear-gradient(top, #333, #222);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
		background-image: -webkit-linear-gradient(top, #333, #222);
		background-image: -o-linear-gradient(top, #333, #222);
		background-image: linear-gradient(top, #333, #222);
		background-repeat: repeat-x;
	}

	.miniLogo {
		background-image:  url('../images/logo_small.png');
		float: left;
		position: relative;
		height: 22px;
		width: 129px;
		top: 6px;
		left: -1px;
	}
}

.popover {
}


/* COMPONENT STYLES
-----------------------------------------------------------*/

#createuser-modal {
	.modal-footer {
		padding-left: 175px;
		text-align: left;
	}

	#newAccount_btn {
		width: 100px;
	}
}

.metascore {
	.borderRadius(2px);
	background: no-repeat 0 0;
	color: #ffffff;
	display: block;
	float: right;
	font: bold 15px/32px arial,helvetica,sans-serif;
	height: 32px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 32px;

	&:link {text-decoration: none;}
	&:visited {text-decoration: none;}
	&:hover {text-decoration: none;}
	&:active {text-decoration: none;}

	&.favorable {
		background-color: #66CC33;
	}
	&.neutral {
		background-color: #FFCC33;
	}
	&.unfavorable {
		background-color: #D70000;
	}
	&.unavailable {
		background-color: @neutralDark1;
	}
	&:hover {
		color: #ffffff;
	}
}

.noSearchResults {
	.borderRadius(2px);
	background-color: #C0C4C4;
	color: white;
	font-weight: 700;
	padding: 10px;
	text-align: center;
}

.nano .content      { padding: 10px; }
.nano .pane         { background: #444; }
.nano .pane .slider { background: #111; }

/* OPTIONS
-----------------------------------------------------------*/
.optionsGroup {
	margin: 0px 0px 8px 0px;
}

.filterOptions {

}

.filterStatus {
	display: none;
}

.displayOptions {
	float: left;
	margin-right: 14px;
}

/* MODALS
-----------------------------------------------------------*/
#filters-modal {

	.modal-body {
		height: 260px;
	}

}

/* SEARCH VIEW PANEL
-----------------------------------------------------------*/
#searchField {

	margin-bottom: 20px;

	.add-on {
		padding-top: 6px;
		padding-bottom: 2px;
		border: 1px solid #999999;
		background-color: #E8E8E8;

		i {
			.opacity(.6);
		}

	}

	input {
		width: 60%;
		background-color: #E8E8E8;
		border: 1px solid #999999;
		border-left: none;
		border-right: none;
		text-shadow: 0 1px 0 #FFFFFF;

		&:focus {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
			outline: none;
		}
	}
}

#searchViewMenu {

	margin-bottom: 8px;

	.navbar-inner {
		padding-left: 4px;
		padding-right: 4px;
	}

}

#providerContainer {
	float: left;
	margin: 0px 10px 8px 0px;
}
#searchProvider {

}
#listProvider {
	display: none;
	margin-left: 0;
}
.providerSelect_btn {

}
.searchDisplayOptions {
	margin-right: 10px;
}
.btn-group + .listDisplayOptions.btn-group {
	display: none;
	margin-left: 0px;
	margin-right: 10px;
}

#listPlatforms {
	display: none;
}

#searchResultsDisplayGroup {
	margin: 8px 0px 8px 0px;
}

#finderTabLinks {
	margin-bottom: -6px;
}

#searchResultsContainer {
	.transition(.4s);
}

#searchResults {

	tr {
		cursor: pointer;
	}

	.display-0 {

		.smallImage, .mediumImage {
			display: none;
		}
		.title {

		}
		.calendarDate {
			display: none;
		}
		.platform {
			display: none;
		}
	}

	.display-1 {

		.smallImage {
			min-width: 53px;
			max-width: 53px;
		}
		.mediumImage {
			display: none;
		}
		.title {

		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 12px;
		}
		.platform {
			color: #7D7D7D;
			font-size: 12px;
		}
	}

	.display-2 {

		.smallImage {
			display: none;
		}
		.mediumImage {
			min-width: 100px;
			max-width: 100px;
			width: 15%;
		}
		.title {

		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 12px;
		}
		.platform {
			color: #7D7D7D;
			font-size: 12px;
		}
	}
}

#listResultsContainer {
	.transition(.4s);
}

#listResults {

	tr {
		cursor: pointer;
	}

	.display-0 {

		.mediumImage {
			display: none;
		}
		.title {

		}
		.calendarDate {
			display: none;
		}
	}

	.display-1 {

		.mediumImage {
			min-width: 53px;
			max-width: 53px;
		}
		.title {

		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 12px;
		}
		.platform {
			color: #7D7D7D;
			font-size: 12px;
		}
	}

	.display-2 {

		.mediumImage {
			min-width: 100px;
			max-width: 100px;
		}
		.title {

		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 12px;
		}
		.platform {
			color: #7D7D7D;
			font-size: 12px;
		}
	}
}

/* DETAIL VIEW PANEL
-----------------------------------------------------------*/
#itemDetailsContainer {

}

#itemDetails {

	#detailTab {
		margin-bottom: 5px;
	}

	table {
		width: 100%;

		td {
			padding: 3px;
		}
	}

	.detailTitleBar {
		display: none;
	}

	.itemDetailTitle {

		width: 80%;
		float: left;

		h3 {
			.borderRadius(2px);
			background-color: @neutralDark1;
			color: #ffffff;
			display: block;
			font-family: 'Open Sans',sans-serif;
			font-size: 16px;
			padding: 2px 10px 3px 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.itemDetailMetascore {
		float: right;
		text-align: right;
		vertical-align: top;
	}

	.itemDetailReleaseDate {
	}

	.itemDetailInfo a {
		margin: 0px 2px 5px 0px;
	}

	.itemDetailThumbnail {
		margin: 7px 2px 10px 2px;

		img {
			max-width: 100%;
			max-height: 380px;
		}
	}
}

#dataTab {
	display: none;
	margin-bottom: 10px;
}

#customTab {

	.form-actions {
		.borderRadius(2px);
		border: 1px solid #DDD;
		padding: 10px 20px 10px;
		position: relative;
		top: 22px;
	}
}

#itemAttributes {
	display: none;
	padding: 0px 0;
}

#addListContainer {
	float: left;
	margin: 0px 10px 10px 0px;

	.search-field input {
		font-family: 'Open Sans', sans-serif;
	}
}

#addList {
	width: 170px;
}

#addListButtons {
	float: left;
}
#saveItem_btn {
	display: none;
}
#saveAttributesContainer {
	display: none;
}

#giantBombDescription-modal {
	margin: -250px 0 0 -480px;
	width: 960px;
}

#amazonDescription-modal {
	margin: -250px 0 0 -480px;
	width: 960px;
}

#customTab {

	.form-horizontal .control-label {
		width: 85px;
	}
	.form-horizontal .controls {
		margin-left: 100px;
	}
	.form-horizontal .form-actions {
		padding-left: 100px;
	}

	#userRating {
		float: left;
		margin-right: 10px;
		margin-top: 6px;
	}
	#ratingCaption {
		float: left;
		margin-top: 6px;
	}
}

/* ITEM VIEW PANEL
-----------------------------------------------------------*/
#viewItemsContainer {

}

#itemViewMenu {
	margin-bottom: 8px;

	.navbar-inner {
		padding-left: 4px;
		padding-right: 4px;
	}
}

#itemResultsContainer {
	.transition(.4s);
	height: 500px;
}

#itemResults {

	.display-0 tr {
		&:hover
			.quickAttributes {
				.opacity(0)
			}
			.deleteItem_btn {
				.opacity(0)
			}
		}

	tr {
		cursor: pointer;
		&:hover {
			.quickAttributes {
				.opacity(1);
			}
			.deleteItem_btn {
				.opacity(1);
			}
		}
	}

	/* fixes 'gaps' between tds for hover event in chrome */
	td {
		position: relative;
	}

	/* data fields */
	.releaseDate {
	display: none;
	}
	.gameStatus {
	display: none;
	}
	.playStatus {
	display: none;
	}
	.userRating {
	display: none;
	}
	.options {
		text-align: right;
	}

	.extraData {
		position: relative;

	}
	.quickAttributes {
		.transition(.5s);
		.opacity(0);
		margin-top: 10px;
		width: 152px;

		a {
			.opacity(.25);

			&:hover {
				.opacity(1);
			}
		}

		.playStatus-1 a.attrPlaying {
			.opacity(1);
		}
		.playStatus-2 a.attrPlayed {
			.opacity(1);
		}
		.playStatus-3 a.attrFinished {
			.opacity(1);
		}
		.gameStatus-1 a.attrOwned {
			.opacity(1);
		}
	}
	.deleteItem_btn {
		.transition(.5s);
		.opacity(.5);
		padding-top: 9px;
		height: 20px;
	}

	/* LIST VIEW */
	.display-0 {

		.smallImage, .mediumImage {
			display: none;
		}
		.itemName {

		}
		.calendarDate {
			display: none;
		}
		.platform {
			display: none;
		}
		.extraData {
			min-width: 150px;
		}
		.quickAttributes {
			display: none;
		}
		.deleteItem_btn {
			.opacity(.5)
		}
	}

	/* ICON VIEW */
	.display-1 {

		.smallImage {
			width: 10%;
			min-width: 60px;
		}
		.mediumImage {
			display: none;
		}
		.itemName {
			padding-bottom: 5px;
		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 12px;
		}
		.platform {
			font-size: 12px;
			color: #7D7D7D;
		}
		.extraData {
			min-width: 150px;
		}
	}

	/* COVER VIEW */
	.display-2 {

		.smallImage {
			display: none;
		}
		.mediumImage {
			min-width: 100px;
			width: 24%;
		}
		.itemName {
			font-weight: 600;
			font-size: 1.25em;
			padding-bottom: 10px;
		}
		.calendarDate {
			color: #7D7D7D;
			font-size: 1.1em;
		}
		.platform {
			color: #7D7D7D;
			font-size: 1.1em;
		}
		.extraData {
			display: none;
		}
	}
}

#viewList {

}

#deleteList_btn {
	float: right;
}

#gridView_btn {
	float: left;
}



/* GRID VIEW PANEL
-----------------------------------------------------------*/
#gridViewContainer {

	display: none;

	&.display-0 {
		.gridItem {
			margin: 2px;
			width: 100px;
		}

	}
	&.display-1 {
		.gridItem {
			margin: 3px;
			width: 175px;
		}
	}
	&.display-2 {
		.gridItem {
			margin: 5px;
			width: 320px;
		}
	}
	&.display-3 {
		.gridItem {
			margin: 3px;
			width: 175px;
		}
		.itemAttributes {
			display: block;
		}
	}

	.itemAttributes {
		display: none;
	}
	.itemName {
		display: none;
	}
	.metacriticScore {
		display: none;
	}
	.releaseDate {
		display: none;
	}
	.rawPrice {
		display: none;
	}
	.gameStatus {
		display: none;
	}
	.playStatus {
		display: none;
	}
	.userRating {
		display: none;
	}

}

#gridViewMenu {
	margin-bottom: 8px;

	.navbar-inner {
		padding-left: 4px;
		padding-right: 4px;
	}
}

.gridItem {
	.boxShadow(.3);
	float: left;
	margin: 3px;
	width: 175px;

	.thumbnail {
		background-color: rgba(255, 255, 255, 0.50);
	}

	img {
		display: block;
		width: 100%;
		cursor: pointer;
	}
}

.itemAttributes {

	.nav-list {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 0;
	}
}

#gridViewOptions {
	.optionsGroup {
		margin-top: 8px;
	}
}

#gridListContainer {
	float: left;
	margin-right: 15px;
}

#exitGridView_btn {
	float: right;
}
